.navbar {
  width: 100%;
  height: 12vh;
  text-align: center;
  border-bottom: 0.3px solid gray;
}
#logo {
  height: 55px;
  margin: auto;
}
.content-div {
  min-width: 500px;
  width: 500px;
}
.facebook {
  background-color: #3b5998;
  color: rgb(217, 217, 217);
  font-size: 17px;
}
.facebook:hover {
  color: white;
}
.apple {
  background-color: black;
  color: rgb(217, 217, 217);
  font-size: 17px;
}
.apple:hover {
  color: white;
}
.google {
  border: 1px solid rgb(159, 159, 159);
  font-size: 17px;
  color: rgb(61, 61, 61);
}
.google:hover {
  border: 1px solid rgb(106, 106, 106);
  color: black;
}
.hr-line-left {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #747474;
}
.hr-line-right {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #747474;
}
.btn-success {
  padding: 10px 30px;
  color: black;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}
.sportfy {
  min-width: 100%;
  border: 1px solid rgb(159, 159, 159);
  font-size: 17px;
  color: rgb(61, 61, 61);
  padding: 10px 0 10px 0;
}
.sportfy:hover {
  border: 1px solid rgb(106, 106, 106);
  color: black;
}
