.sidebar {
    position: fixed;
    width: 240px;
    min-width: 240px;
    min-height: 100%;
    background-color: #000000;
  }
  .sidebar-top {
    height: 38vh;
    border-bottom: 0.5px solid gray;
    margin-left: 20px;
  }
  .sidebar-item {
    text-decoration: none;
    color: rgb(189, 189, 189);
    list-style: none;
    font-size: 16px;
    padding: 5px 0;
    width: 100%;
    cursor: pointer;
  }
  .sidebar-item i {
    font-size: 18px;
  }
  .sidebar-item-img {
    fill: white;
    margin: 8px 14px 8px 6px;
  }
  .sidebar-link a:hover {
    transition: 0.5s ease;
    /* background-color: #323232; */
    color: rgb(253, 253, 253);
    font-weight: 400;
  }
  .sidebar-link a img {
    justify-content: center;
    height: 20px;
    margin: 8px 0 8px 0;
    color: rgb(189, 189, 189);
  }