body {
  background-color: #141414;
  overflow-x: hidden;
}
.body-container {
  width: 100%;
  display: flex;
  /* --bs-gutter-x: none; */
}

/* main container right----------- */
.main-container-right {
  position: absolute;
  margin-left: 240px;
  width: calc(100% - 240px);
  /* --bs-gutter-x: none; */
  background: linear-gradient(
    0deg,
    rgba(20, 20, 20, 1) 50%,
    rgba(64, 8, 7, 1) 100%
  );
}

/* header card-------------- */
#main-div {
  position: relative;
  top: 8vh;
}
.header-card-container {
  position: relative;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1200px;
}
.header-card {
  background-color: #38383876;
  height: 65px;
  min-width: 250px;
  margin: 0 20px;
  border: none;
  position: relative;
  cursor: pointer;
}
.header-card-img {
  max-height: 65px;
  object-fit: cover;
}
.header-card-body {
  height: 65px;
  border: none;
}
.header-card-body .card-text {
  color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 1px;
  padding-bottom: 10px;
  font-weight: bold;
}
.header-card-container1 {
  margin-top: 10vh;
  height: 50vh;
  justify-content: space-between;
  min-width: 1200px;
}
.header-card-container2 {
  height: 50vh;
  justify-content: space-between;
  min-width: 1200px;
}

.header-card:hover {
  background-color: #3838388f;
  -webkit-box-shadow: 1px 2px 15px 1px #2020209d;
  box-shadow: 1px 2px 15px 1px #2020209d;
}

.header-card-body p .card-text {
  color: rgb(133, 129, 129);
}
.header-card-body small {
  color: rgb(175, 175, 175);
}
/* recently played container -----------*/
.recently-played {
  height: 35vh;
}

.artist-card {
  background-color: #38383869;
  min-width: 170px;
  width: 130px;
  height: 280px;
  cursor: pointer;
}
.artist-card img {
  min-width: 100%;
  max-height: 200px;
  object-fit: cover;
}
.play-button-img {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 50px;
  color: rgb(1, 129, 50);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.artist-card:hover .play-button-img {
  bottom: 20px;
  right: 10px;
  opacity: 1;
}
.artist-card:hover {
  background-color: #5e5d5d69;
  -webkit-box-shadow: 1px 2px 15px 1px #000000;
  box-shadow: 1px 2px 15px 1px #000000;
}

.artist-card-body {
  color: rgb(175, 175, 175);
  min-width: 100%;
  overflow: hidden;
}
.artist-card-body p {
  color: rgb(175, 175, 175);
  font-size: 15px;

  padding-bottom: 10px;
}
.artist-card-body small {
  position: absolute;
  color: rgb(175, 175, 175);
  font-size: 10px;
  bottom: 0;
}
/* music-player bottom----------------- */
.player {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: #121212;
  align-items: center;
  width: 100%;
  min-width: 1200px;
  border-top: 0.5px solid rgb(57, 42, 0);
}
.player-card {
  height: 50px;
  display: flex;
  justify-content: space-around;
  min-width: 300px;
}
.player-card-img {
  height: 45px;
  width: 45px;
  object-fit: cover;
}
.player-card-body p {
  line-height: 5px;
  color: rgb(175, 175, 175);
  font-size: 15px;
}
.player-controller {
  color: rgb(175, 175, 175);
  font-size: 14px;
  cursor: pointer;
}
.progress {
  height: 1.5px;
  width: 70%;
}
.player-buttons {
  width: 500px;
  min-width: 500px;
}
.player-duraton {
  font-size: 10px;
}
.controller-right {
  min-width: 200px;
}
