/* nav top-------------- */
.nav-top {
  position: fixed;
  height: 10vh;
  width: calc(100% - 240px);
  background-color: #12121251;
  z-index: 1;
}
.scroll {
  background-color: #121212fd;
  transition: 0.5s ease-in;
}
.arrow-left {
  background-color: #00000069;
  border-radius: 50%;
  height: 35px;
  cursor: pointer;
  color: rgb(209, 210, 212);
  font-size: 20px;
  padding: 5px;
}
.arrow-right {
  background-color: #00000069;
  border-radius: 50%;
  height: 35px;
  cursor: pointer;
  color: rgb(209, 210, 212);
  font-size: 20px;
  padding: 5px;
}
input {
  border: none;
}
.profile {
  position: relative;
  justify-content: space-around;
  width: 170px;
  background-color: #00000069;
  padding: 3px;
  z-index: 2;
  right: 3%;
}
.dropdown button {
  width: 70%;
  background-color: transparent;
  color: rgb(209, 210, 212);
  padding: 10px 0 10px 0;
  margin-left: -5%;
}
.dropdown button:hover {
  color: aliceblue;
}

.profile-img {
  position: relative;
  left: -10px;
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #141414;
}
.search-bar-hidden {
  opacity: 0;
}
.search-bar-show {
  opacity: 1;
}
